# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [2]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests

# Import API key
from api_keys import geoapify_key

In [3]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("../WeatherPy/output.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,port alfred,-33.5906,26.8910,70.18,91,100,1.99,ZA,1675807397
1,1,peniche,39.3558,-9.3811,49.44,76,4,7.11,PT,1675807397
2,2,belaya gora,68.5333,146.4167,-46.50,100,96,2.57,RU,1675807182
3,3,safford,32.8340,-109.7076,58.75,24,75,8.01,US,1675807405
4,4,chuy,-33.6971,-53.4616,75.85,66,0,10.78,UY,1675807406

---

### Step 1: Create a map that displays a point for every city in the `city_data_df` DataFrame. The size of the point should be the humidity in each city.

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date            int64
dtype: object

### Step 2: Narrow down the `city_data_df` DataFrame to find your ideal weather condition

In [6]:
# Narrow down cities that fit criteria and drop any results with null values
narrow_df = city_data_df.loc[(city_data_df["Wind Speed"]<=4.5)&(city_data_df["Max Temp"]<=27)&(city_data_df["Max Temp"]>=21)]
narrow_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
27,27,xining,36.6167,101.7667,26.35,88,100,1.54,CN,1675807213
91,91,itum-kale,42.7356,45.5758,25.16,92,99,1.07,RU,1675807459
232,232,asau,46.4333,26.4000,23.92,96,100,4.36,RO,1675807559
289,289,karbinci,41.8167,22.2375,24.44,68,0,2.10,MK,1675807593
480,480,yongan,39.6957,113.6871,22.73,61,14,2.77,CN,1675807675

### Step 3: Create a new DataFrame called `hotel_df`.

In [7]:
# Use the Pandas copy function to create DataFrame called hotel_df to store the city, country, coordinates, and humidity
hotel_df = narrow_df[["City", "Country", "Lat", "Lng", "Humidity"]].copy()


# Add an empty column, "Hotel Name," to the DataFrame so you can store the hotel found using the Geoapify API
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

          City Country      Lat       Lng  Humidity Hotel Name
27      xining      CN  36.6167  101.7667        88
91   itum-kale      RU  42.7356   45.5758        92
232       asau      RO  46.4333   26.4000        96
289   karbinci      MK  41.8167   22.2375        68
480     yongan      CN  39.6957  113.6871        61

### Step 4: For each city, use the Geoapify API to find the first hotel located within 10,000 metres of your coordinates.

In [19]:
# Set parameters to search for a hotel
radius = 10000
params = {
    "type": "Hotel",
    "key" : geoapify_key
}

# Print a message to follow up the hotel search
print("Starting hotel search")

# Iterate through the hotel_df DataFrame
for index, row in hotel_df.iterrows():
    # get latitude, longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add filter and bias parameters with the current city's latitude and longitude to the params dictionary
    params["location"] = f"{lat}, {lng}"
    
    # Set base URL
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # Make and API request using the params dictionaty
    name_address = hotels = requests.get(base_url, params=params).json()
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name in the hotel_df DataFrame
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["features"][0]["properties"]["name"]
    except (KeyError, IndexError):
        # If no hotel is found, set the hotel name as "No hotel found".
        hotel_df.loc[index, "Hotel Name"] = "No hotel found"
        
    # Log the search results
    print(f"{hotel_df.loc[index, 'City']} - nearest hotel: {hotel_df.loc[index, 'Hotel Name']}")

# Display sample data
hotel_df

Starting hotel search
xining - nearest hotel: No hotel found
itum-kale - nearest hotel: No hotel found
asau - nearest hotel: No hotel found
karbinci - nearest hotel: No hotel found
yongan - nearest hotel: No hotel found
rutul - nearest hotel: No hotel found

          City Country      Lat       Lng  Humidity      Hotel Name
27      xining      CN  36.6167  101.7667        88  No hotel found
91   itum-kale      RU  42.7356   45.5758        92  No hotel found
232       asau      RO  46.4333   26.4000        96  No hotel found
289   karbinci      MK  41.8167   22.2375        68  No hotel found
480     yongan      CN  39.6957  113.6871        61  No hotel found
502      rutul      RU  41.5357   47.4239        89  No hotel found

### Step 5: Add the hotel name and the country as additional information in the hover message for each city in the map.

In [ ]:
%%capture --no-display

# Configure the map plot
# YOUR CODE HERE

# Display the map
# YOUR CODE HERE